main
    section.sheet
        margin-left: auto
        margin-right: auto
        &.padding-10mm
            padding-left: 15mm
            padding-right: 5mm
        #icons
            margin-bottom: 1rem
        article
            position: relative
            margin-bottom: 4rem
            > div
                display: flex
                width: 95%
                margin: 0 auto 1rem
                font-family: 'Kosugi Maru', sans-serif
                img#cover
                    display: block
                    height: 180px
                    margin-right: 2rem
                #title
                    font-size: 1.5rem
                    line-height: 2rem
                    margin-bottom: 1rem
                    margin-top: 0.5rem
                #author, #publisher, #pubdate
                    font-size: 1.2rem
                    margin-bottom: 1rem
                #pubdate
                    &::before
                        content: '（'
                    &::after
                        content: '）'

            #content
                width: 95%
                height: 165mm
                margin: 0 auto
                background-image: url(./assets/konna.svg), url(./assets/namae.svg), url(./assets/waku.svg)
                background-repeat: no-repeat, no-repeat, no-repeat
                background-size: 70mm, 70mm, 100%
                background-position: 10mm 12mm, 90% 120mm, 0 0
            .character
                position: absolute
                bottom: -40px
                left: -30px
                width: 350px
            #ndc
                position: absolute
                bottom: -50px
                left: 250px
                transform: rotate(7deg)
            .isbn
                position: absolute
                bottom: -45px
                left: 70%
                width: 155px
                overflow: hidden
                &::before
                    content: ''
                    width: 400px
                    height: 10px
                    background-color: #ffffff
                    position: absolute
                    top: -9px
                    left: -10px
                    transform: rotate(-5deg)
                    z-index: 10000
                #isbn
                    border-top-left-radius: 270% 100%
        #icons2
            position: absolute
            bottom: 15mm
        footer
            display: flex
            width: 100%
            align-items: center
            justify-content: flex-end
            position: absolute
            width: 100%
            bottom: 8mm
            right: 17mm
            font-size: 0.9rem
            img
                width: 100px
                margin-left: 0.5rem
