main
    font-family: 'Kosugi Maru', sans-serif
    section.sheet
        margin-left: auto
        margin-right: auto
        &.padding-10mm
            padding-left: 15mm
            padding-right: 5mm
        #icons
            margin-bottom: 1rem
        article
            position: relative
            margin-bottom: 4rem
            > div
                display: flex
                width: 95%
                margin: 0 auto 1rem
                img#cover
                    display: block
                    height: 180px
                    min-width: 120px
                    margin-right: 2rem
                    border: 1px solid #cccccc
                h1
                    line-height: 2rem
                    margin-top: 0.5rem
                    margin-bottom: 1rem
                    #title
                        font-size: 1.5rem
                        margin-right: 1rem
                    #volume
                        font-size: 1rem
                #author, #publisher, #pubdate
                    font-size: 1.2rem
                    margin-bottom: 1rem
                #pubdate
                    &::before
                        content: '（'
                    &::after
                        content: '）'

            #content
                position: relative
                width: 95%
                height: 165mm
                margin: 0 auto
                .konna
                    position: absolute
                    width: 70mm
                    left: 10mm
                    top: 12mm
                .namae
                    position: absolute
                    width: 70mm
                    left: 50%
                    top: 135mm
                .waku
                    position: absolute
                    width: 100%
                textarea
                    display: none
                    position: absolute
                    top: 12rem
                    left: 2.5rem
                    z-index: 100001
                    width: 88%
                    min-width: 88%
                    max-width: 88%
                    height: 11rem
                    min-height: 10rem
                    max-height: 20rem
                    font-size: 1rem
                    line-height: 1.25rem
                    padding: 1rem
                    border: 6px dotted #999999
                    border-radius: 10px
                    &:focus
                        outline: 0
                        border: 6px dotted #7889F3
                #annotations
                    display: none
                    position: absolute
                    top: 13rem
                    left: 2.5rem
                    z-index: 100001
                    width: 88%
                    min-width: 88%
                    max-width: 88%
                    height: 30rem
                    min-height: 10rem
                    max-height: 30rem
                    img
                        width: 350px
                        float: left
                        shape-margin: 10px
                        margin-top: 90px
                        margin-left: -92px
                    p
                        font-size: 1rem
                        line-height: 1.5rem
                    hr
                        border: none
                        background-color: #fff
                        margin: 1rem auto
                        border-top: 2px solid #cccccc 
                        width: 20%
                        &:last-child
                            display: none
                input[type='text']
                    display: none
                    position: absolute
                    top: 31.25rem
                    left: 26.5rem
                    z-index: 100001
                    width: 15rem
                    font-size: 1.25rem
                    padding: 0.5rem
                    border: 6px dotted #999999
                    &:focus
                        outline: 0
                        border: 6px dotted #7889F3
            .character
                position: absolute
                bottom: -40px
                left: -30px
                width: 350px
                img
                    width: 350px
            #ndc
                position: absolute
                top: 812px
                left: 235px
                z-index: 100000
                transform: rotate(11deg)
                font-weight: bold
                text-shadow: 2px  2px 0px #ffffff,-2px  2px 1px #ffffff,2px -2px 1px #ffffff,-2px -2px 1px #ffffff,2px  0px 1px #ffffff,0px  2px 1px #ffffff,-2px  0px 1px #ffffff,0px -2px 1px #ffffff
                display: block
                max-width: 15rem
                white-space: nowrap
                text-overflow: ellipsis
                overflow: hidden
            .isbn
                position: absolute
                bottom: -40px
                left: 70%
                width: 500px
                overflow: hidden
                border-top-left-radius: 320% 100%
        #icons2
            position: absolute
            bottom: 15mm
        footer
            display: flex
            width: 100%
            align-items: center
            justify-content: flex-end
            position: absolute
            width: 100%
            bottom: 8mm
            right: 11mm
            font-size: 0.9rem
            img
                width: 100px
                margin-left: 0.5rem
        .binder
            position: absolute
            top: 0
            left: 0
            width: 0
            height: 100%
            &::before
                content: ''
                width: 6mm
                height: 6mm
                background-color: #ffffff
                border: 2px solid #cccccc
                border-radius: 50px
                position: absolute
                top: calc(50% - 40mm)
                left: calc(12mm - 5mm)
            &::after
                content: ''
                width: 6mm
                height: 6mm
                background-color: #ffffff
                border: 2px solid #cccccc
                border-radius: 50px
                position: absolute
                top: calc(50% + 40mm)
                left: calc(12mm - 5mm)


@media print
    .binder
        display: none
    #content
        textarea
            border: none
            resize: none
            border: 6px solid transparent !important
            overflow: hidden
        input[type='text']
            border: none
            resize: none
            border: 0 !important
