main
    section
        #icons
            margin-bottom: 1rem
        article
            position: relative
            margin-bottom: 4rem
            > div
                display: flex
                margin-bottom: 3rem
                img#cover
                    display: block
                    height: 220px
                    margin-right: 1rem
                #title
                    font-size: 1.5rem
                    font-weight: normal
                #author, #publisher, #pubdate, #isbn, #ndc
                    font-size: 1.2rem

            #content
                border: 4px solid #000000
                border-radius: 5px
                width: 80%
                height: 150mm
                margin: 0 auto
            .character
                position: absolute
                bottom: -40px
                left: -20px
                width: 300px
            
        #icons2
            position: absolute
            bottom: 10mm
