doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title template
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paper-css/0.3.0/paper.css")
    link(rel="stylesheet", href="./index.css")
  // Set also "landscape" if you need
  body.A4
    // Each sheet element should have the class "sheet"
    // "padding-**mm" is optional: you can set 10, 15, 20 or 25
    section.sheet.padding-10mm
      // Write HTML just like a web page
      article
        #icons
      article
        h1#title
        #author
        #publisher
        #pubdate
        #isbn
    script(src="./js/index.js")