doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap")
    link(href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap" rel="stylesheet")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paper-css/0.3.0/paper.css")
    link(rel="stylesheet", href="./index.css")
  // Set also "landscape" if you need
  body.A4
    main
      // Each sheet element should have the class "sheet"
      // "padding-**mm" is optional: you can set 10, 15, 20 or 25
      section.sheet.padding-10mm
        // Write HTML just like a web page
        #icons
        article
          div
            img#cover
            div
              h1#title
              #author
              span#publisher
              span#pubdate
          #content
          img.character
          div.isbn
            svg#isbn
          #ndc
        #icons2
        footer
          | ブンルイ・ブックス
          a(href="https://kumori.info" target="_blank")
            img(src="./assets/kumori.svg" alt="©kumori")
    script(src="./js/JsBarcode.all.min.js")
    script(src="./js/index.js")